@charset "utf-8";


.body{
background-color:#000;	
	
}
#inicio{
	
	margin-top:50px;
	
}


.letter_style_name{
	
font-family: 'Amatic SC', cursive;
font-size:70px;
text-align:center;
padding-left:50px;
color:#FFF;

}

.linkstyle:hover{
color:#FFF;

text-decoration:none;
	
}

.linkstyle{
	
color:#FFF;	
}


.Style_div_name{
margin-left:20px;
margin-top:50px;
margin-bottom:50px;
background:#000;
}

.tamCasa{
width:100px;
height:100px;
	
}



